@model IEnumerable<FinalProject.Models.TradeOffer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TradeListingOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeListingTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeListingOneRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeListingTwoRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TradeListingOne.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeListingTwo.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeListingOneRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeListingTwoRating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
