@model FinalProject.Models.ViewModels.SearchDetailsViewModel

@{
    ViewData["Title"] = "Card Details";
}

<h1>Card Details</h1>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Result.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Result.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Result.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Result.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Result.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Result.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Result.Attack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Result.Attack)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Result.Defence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Result.Defence)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Result.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Result.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Result.Race)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Result.Race)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Result.Attribute)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Result.Attribute)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Result.Archetype)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Result.Archetype)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Result.Linkval)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Result.Linkval)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Result.LinkMarkers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Result.LinkMarkers)
        </dd>
    </dl>
</div>
<div>
    <button id="btnShowModal" type="button"
            class="btn btn-primary">
        Add To Deck
    </button>
</div>
<div>
    <a asp-action="Index" asp-route-query="@Model.Query">Back to List</a>
</div>
<div class="modal fade" tabindex="-1" id="loginModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Card</h4>
            </div>
            <form asp-action="AddToDeck" asp-controller="Search" method="post">
                <div class="modal-body">
                    <input asp-for="@Model.CardId" type="hidden" value="@Model.Result.Id" />
                    <input asp-for="@Model.Query" type="hidden" value="@Model.Query" />
                    <input asp-for="@Model.Name" type="hidden" value="@Model.Name" />
                    <select asp-for="@Model.DeckId" asp-items="Model.DeckSelector"></select>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Add" />
                    <button type="button" id="btnHideModal" class="btn btn-secondary">
                        Cancel
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
@if (Model.Listings != null && Model.Listings.Count > 0)
{
    <h5>Current Listings For this Card</h5>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Description
                </th>
                <th>
                    User
                </th>
                <th>
                    User Rating
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Listings)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">View Listing</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Make Offer</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

</script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#loginModal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });
    });
</script>




